# Occupation

### Step 1. 필요한 라이브러리 들을 import 하세요

In [73]:
import pandas as pd
import numpy as np

### Step 2. 다음 주소로 부터 dataset을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/u.user).

### Step 3. users 변수에 DataFrame을 할당 하세요.
#### index 는 user_id입니다.

In [74]:
url = "https://raw.githubusercontent.com/myoh0623/dataset/main/u.user"
users = pd.read_csv(url,sep = "|",index_col = "user_id")
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

### Step 4.  occupation별 평균 나이는 얼마입니까?

In [75]:
users.groupby("occupation").age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. occupation별 남성의 비율을 확인하고 내림차순으로 정렬하세요

In [37]:
#users[users.gender == "M"].groupby("occupation").mean()
#users["ratio"] = pd.value_counts(users[users.occupation == users["occupation"]].gender == "M")
#users.value_counts(users.gender == "M")
#users.groupby("occupation").value_counts(users.gender == "M")

In [68]:
users_a = users["occupation"].tolist()
users_list = np.unique(users_a)
print(users_list)
ratio_list = []
for i in users_list:
    ratio_list += pd.value_counts(users[users.occupation == "administrator"].gender == "M").tolist()
ratio_list
#pd.value_counts(users[users.occupation == "doctor"].gender == "M")

['administrator' 'artist' 'doctor' 'educator' 'engineer' 'entertainment'
 'executive' 'healthcare' 'homemaker' 'lawyer' 'librarian' 'marketing'
 'none' 'other' 'programmer' 'retired' 'salesman' 'scientist' 'student'
 'technician' 'writer']

[43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36,
 43,
 36]

In [83]:
# 다시 한번 해볼것
result = users[users.gender == "M"].occupation.value_counts() / users.occupation.value_counts() * 100

In [84]:
result.sort_values(ascending = False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
Name: occupation, dtype: float64

In [85]:
# 방법 2
# 남자는 1, 여자는 0으로 표기
def gen2num(x):
    if x == "M":
        return 1
    if x == "F":
        return 0

users["gen_num"] = users["gender"].apply(gen2num)

In [86]:
result = users.groupby("occupation").gen_num.sum() /  users.occupation.value_counts() * 100
result.sort_values(ascending = False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. 각 occupation별 최대 최소 age를 확인하세요

In [21]:
users.groupby("occupation").age.aggregate([np.min, np.max])

               amin  amax
occupation
administrator    21    70
artist           19    48
doctor           28    64
educator         23    63
engineer         22    70
entertainment    15    50
executive        22    69
healthcare       22    62
homemaker        20    50
lawyer           21    53
librarian        23    69
marketing        24    55
none             11    55
other            13    64
programmer       20    63
retired          51    73
salesman         18    66
scientist        23    55
student           7    42
technician       21    55
writer           18    60

### Step 7. occupation에 따른 gender별 평균 age를 계산 하세요

In [22]:
users.groupby(["occupation","gender"]).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8. 각 occupation별 남성과 여성의 비율을 나타내시오
#### 어려움

In [94]:
gen_occ = users.groupby(["occupation","gender"]).agg({"gender" : "count"})
count_occ = users.groupby(["occupation"]).agg("count")

In [95]:
gen_occ.div(count_occ, level = "occupation").gender

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64